<article class={`${Astro.props.class} relative rounded-2xl bg-white/10 backdrop-blur-xl border border-white/20 p-4` }>
    <h2 class="font-semibold text-xl text-azul-brillante">{Astro.props.title}</h2>
    {Astro.props.description && <p class="text-gray-600">{Astro.props.description}</p>}
    <slot />
</article>