---
// Componente que muestra el historial de actividades del usuario
import BentoContainer from "./bento-container.astro";
---

<BentoContainer class="col-span-10 md:col-span-6 lg:col-span-4 xl:col-span-3" title="Historial de Actividad">
    <div class="mt-4 space-y-3">
        <!-- Lista de actividades recientes -->
        <div class="text-center py-8">
            <p class="text-white/70 mb-2">Historial de actividades</p>
            <p class="text-sm text-white/50">Próximamente disponible</p>
        </div>
    </div>
</BentoContainer>