---
const { question, answer } = Astro.props;
---
<article class="bg-linear-to-br bg-white/5 border-1 border-azul-brillante/20 rounded-xl p-6 mb-4 h-full justify-between">
    <header>
        <h3 class="text-xl font-semibold text-azul-brillante mb-2">{question}</h3>
    </header>
    <section>
        <p class="text-pretty text-white/60">{answer}</p>
    </section>
</article>