---
import ServiceCard from '@/components/home/OurServices/ServiceCard.astro';
---

<section id="servicios" class="flex flex-col w-full text-center max-w-(--breakpoint-xl) mx-auto text-white border gap-6 border-azul-brillante/20 bg-white/5 backdrop-blur-sm rounded-lg px-4 py-8 sm:px-8">
    <h2 class="text-3xl sm:text-4xl lg:text-[40px] font-extrabold text-azul-brillante text-pretty">
        Nuestros Servicios
    </h2>
	<p class="text-lg sm:text-xl text-pretty">
		Ofrecemos diversos servicios para facilitar tu vida universitaria y mejorar tu experiencia en la escuela.
	</p>
    <ul class="grid grid-cols-1 mid:grid-cols-3 gap-6 mt-8">
        <li>
            <ServiceCard 
            title="Impresión" 
            description="Imprime tus trabajos prácticas, apuntes y proyectos (20 folios mensuales)" 
            image="src/assets/icons/animated/printer.json"
            imageClass="translate-y-2" />
        </li>
        <li>
            <ServiceCard 
            title="Taquillas" 
            description="Reserva tu taquilla en cualquiera de las dos sedes durante el curso académico" 
            image="src/assets/icons/animated/unlock.json"/>
        </li>
        <li>
            <ServiceCard 
            title="Préstamo de Material" 
            description="Préstamo de material académico, de prácticas, laboratorio... Ven a preguntar :)" 
            image="src/assets/icons/animated/cut.json" 
            imageClass="rotate-25"/>
        </li>
    </ul>
</section>