---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/home/Header/Header.astro";
import Buses from "@/components/home/Buses/Buses.astro";
import OurServices from "@/components/home/OurServices/OurServices.astro";
import Faq from "@/components/home/Faq/Faq.astro";
import News from "@/components/home/News/News.astro";

// Extraer los stopIds de las props de los componentes
const stopIdsToRequest = [14227, 8460, 8700];
---

<Layout>
	<div class="flex flex-col items-center justify-center text-white border-2 gap-15 border-blue-950/30 mt-3">
		<Header/>
		<Buses/>
		<OurServices/>
		<!-- <News/> -->
		<Faq/>
	</div>
</Layout>

