<footer class="w-screen h-[400px] flex flex-col justify-center items-center">
    <div class="footer-content text-center">
        <p>© Todos los derechos reservados</p>
        <p>Delegación de Alumnos de Industriales - UVigo</p>
    </div>
</footer>
