---
import Content from "@/layouts/Footer/Content.astro"
---

<footer class="relative flex flex-col grow justify-end w-full items-center pb-30 overflow-hidden" style="height: 1080px;">
    <div class="absolute inset-0 z-1 bg-[url('/src/assets/fondo_1.jpg')] bg-cover bg-bottom [mask-image:linear-gradient(transparent,_black_40%)]"></div>
    <Content>

</footer>