---
import Content from "@/layouts/Footer/Content.astro"
---

<footer class="relative z-10 flex flex-col grow justify-end w-full items-center pb-10 mt-50 overflow-hidden" style="height: 1080px;">
    <div class="absolute inset-0 z-1 bg-[url('/src/assets/fondo_1.PNG')] bg-cover bg-no-repeat bg-bottom [mask-image:linear-gradient(transparent,_black_40%)]"></div>
    <Content />
</footer>