---
import X from "@/assets/social/x.svg";
import Discord from "@/assets/social/discord.svg";
import Instagram from "@/assets/social/instagram.svg";
import TikTok from "@/assets/social/tiktok.svg";
import Linkedin from "@/assets/social/linkedin.svg";
---

<footer class="relative flex flex-col grow justify-end w-full items-center pb-30 overflow-hidden" style="height: 1080px;">
    <div class="absolute inset-0 z-1 bg-[url('/src/assets/fondo_1.jpg')] bg-cover bg-bottom [mask-image:linear-gradient(transparent,_black_40%)]"></div>
    <div class="flex z-2 flex-col items-center gap-2 mb-5 text-white">
        <p>© Todos los derechos reservados</p>
        <p>Delegación de Alumnos de Industriales - UVigo</p>
    </div>
    <div class="flex z-2 flex-row gap-4 text-white">
        <a href="https://discord.gg/rHC4rgZvqM" target="_blank">
            <Discord class="w-7 h-7" />
        </a>
        <a href="https://www.instagram.com/dai_uvigo/" target="_blank">
            <Instagram class="w-7 h-7" />
        </a>
        <a href="https://twitter.com/dai_uvigo" target="_blank">
            <X class="w-7 h-7" />
        </a>
        <a href="https://www.linkedin.com/company/dai-uvigo" target="_blank">
            <Linkedin class="w-7 h-7" stroke="currentColor"/>
        </a>
        <a href="https://www.tiktok.com/@dai.uvigo/" target="_blank">
            <TikTok class="w-7 h-7" stroke="currentColor"/>
        </a>
    </div>
</footer>