---
import NewsCard from "./NewsCard.astro"
const newsItems = [
    {
        id: 1,
        title: "Última CD del curso",
        description: "No te pierdas la última CD del curso, que se celebrará el próximo viernes.",
        date: "2023-10-01",
        image: "src/assets/images/cd-06-06-2025.webp",
    },
    {
        id: 2,
        title: "Conferencia sobre Innovación",
        description: "Asiste a la conferencia sobre innovación tecnológica el próximo viernes.",
        date: "2023-10-02",
        image: "src/assets/images/cd-06-06-2025.webp",
    },
    {
        id: 3,
        title: "Taller de Programación",
        description: "Inscríbete en el taller de programación avanzada que inicia la próxima semana.",
        date: "2023-10-03",
        image: "src/assets/images/cd-06-06-2025.webp",
    },
];
---
<section id="noticias" class="flex flex-col w-full text-center max-w-(--breakpoint-xl) mx-auto text-white border gap-6 border-blue-950/90 bg-azul-oscuro/50 backdrop-blur-sm rounded-lg px-4 py-8 sm:px-8">
    <h1 class="text-3xl sm:text-4xl lg:text-[40px] font-extrabold text-azul-brillante text-pretty">
        Últimas Noticias
    </h1>
	<p class="text-lg sm:text-xl text-pretty">
		Noticias para mantenerte informado sobre los eventos y actividades en nuestra institución.
	</p>
	<ul class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-8">
		{newsItems.map((item) => (
			<li>
				<NewsCard {...item} />
			</li>
		))}
	</ul>

</section>